*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #212223;
}

#quadro{
    position: relative;
    background-color: #121110;
    max-width: 1050px;
    height: 490px;
    
    margin: auto;
    padding: 30px;
    margin-top: 40px;

    border: 5px solid #32CD30;
    border-radius: 70px;

}

#h1{
    position: absolute;
    text-align: center;
    max-width: 1000px;
    color: #EBE7D0;
    font-family: 'Press Start 2P';
    font-size: 40px;
    margin-left: 3%;
    margin-top: 30px;
}

#list_one{ 
    position: absolute;
    max-width: 400px;
    margin-top: 200px;
    margin-left: 180px;
}

#list_two{
    position: absolute;
    max-width: 400px;
    margin-top: 200px;
    margin-left: 550px;
}

a{
    text-decoration: none;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Press Start 2p';

    color: #EBE7D0;
    background-color: #32CD30;
    border: 5px solid #32CD30;
    border-radius: 35px;

}
a:active {
    background: #EBE7D0;
    color: #32CD30;
}

.link{
    margin-bottom: 60px;
}

@media screen and (max-width: 1280px) { /*NEST HUB MAX*/
    
    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 1000px;
        height: 650px;
        
        margin: auto;
        padding: 15px;
        margin-top: 50px;

        border: 15px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 1000px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.5vw;
      
        margin: auto;
        margin-top: 60px;
    }
    
    #list_one{ 
        position: absolute;
        width: 1500px;
        margin-top: 290px;
        margin-left: 120px;
    }
    
    #list_two{
        position: absolute;
        width: 1500px;
        margin-top: 290px;
        margin-left: 550px;
    }
    
    a{
        text-decoration: none;
        padding: 30px;
        font-size: 2.3vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 90px;
    }

}
@media screen and (max-width: 1024px) {/*NEST HUB*/
    
    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 900px;
        height: 500px;
        
        margin: auto;
        padding: 15px;
        margin-top: 20px;

        border: 15px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 1000px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.5vw;
      
        margin: auto;
        margin-top: 30px;
    }
    
    #list_one{ 
        position: absolute;
        width: 1500px;
        margin-top: 210px;
        margin-left: 150px;
    }
    
    #list_two{
        position: absolute;
        width: 1500px;
        margin-top: 210px;
        margin-left: 500px;
    }
    
    a{
        text-decoration: none;
        padding: 25px;
        font-size: 2vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 80px;
    }

}
@media screen and (max-width: 912px) {/*SURFACE PRO 7*/

    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 750px;
        height: 700px;
        
        margin: auto;
        padding: 15px;
        margin-top: 260px;

        border: 15px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 800px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 4vw;
      
        margin: auto;
        margin-top: 50px;
    }
    
    #list_one{ 
        position: absolute;
        width: 1500px;
        margin-top: 260px;
        margin-left: 70px;
    }
    
    #list_two{
        position: absolute;
        width: 1500px;
        margin-top: 260px;
        margin-left: 420px;
    }
    
    a{
        text-decoration: none;
        padding: 25px;
        font-size: 2.5vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 120px;
    }

}
@media screen and (max-width: 820px) {/*iPad AIR*/

    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 650px;
        height: 700px;
        
        margin: auto;
        padding: 15px;
        margin-top: 200px;

        border: 15px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 700px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.8vw;
      
        margin: auto;
        margin-top: 50px;
    }
    
    #list_one{ 
        position: absolute;
        width: 1500px;
        margin-top: 260px;
        margin-left: 40px;
    }
    
    #list_two{
        position: absolute;
        width: 1500px;
        margin-top: 260px;
        margin-left: 350px;
    }
    
    a{
        text-decoration: none;
        padding: 25px;
        font-size: 2.5vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 120px;
    }

}
@media screen and (max-width: 540px) {/*SURFACE DUO*/
    
    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 400px;
        height: 500px;
        
        margin: auto;
        padding: 15px;
        margin-top: 80px;

        border: 15px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 600px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.5vw;
      
        margin: auto;
        margin-top: 50px;
    }
    
    #list_one{ 
        position: absolute;
        width: 300px;
        margin-top: 200px;
        margin-left: 15px;
    }
    
    #list_two{
        position: absolute;
        width: 300px;
        margin-top: 200px;
        margin-left: 210px;
    }
    
    a{
        text-decoration: none;
        padding: 15px;
        font-size: 2.5vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 75px;
    }
}
@media screen and (max-width: 414px) {/*IPHONE XR*/

    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 1200px;
        width: 320px;
        height: 400px;
        
        margin: auto;
        padding: 15px;
        margin-top: 150px;

        border: 12px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 1600px;
        width: 400px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.8vw;
      
        margin: auto;
        margin-top: 30px;
        margin-left: -40px;
    }
    
    #list_one{ 
        position: absolute;
        width: 300px;
        margin-top: 150px;
        margin-left: 8px;
    }
    
    #list_two{
        position: absolute;
        width: 300px;
        margin-top: 150px;
        margin-left: 180px;
    }
    
    a{
        text-decoration: none;
        padding: 10px;
        font-size: 2.5vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 75px;
    }

}
@media screen and (max-width: 390px) { /*IPHONE 12 PRO*/
    
    *{
        padding: 0%;
        margin: 0%;
    }
    
    body{
        background-color: #212223;
    }
    
    #quadro{
        position: relative;
        background-color: #121110;
        max-width: 1200px;
        width: 300px;
        height: 400px;
        
        margin: auto;
        padding: 15px;
        margin-top: 150px;

        border: 10px solid #32CD30;
        border-radius: 70px;
    
    }
    
    #h1{
        position: absolute;
        text-align: center;
        max-width: 1600px;
        width: 400px;
        color: #EBE7D0;
        font-family: 'Press Start 2P';
        font-size: 3.7vw;
      
        margin: auto;
        margin-top: 30px;
        margin-left: -45px;
    }
    
    #list_one{ 
        position: absolute;
        width: 300px;
        margin-top: 150px;
        margin-left: 10px;
    }
    
    #list_two{
        position: absolute;
        width: 300px;
        margin-top: 150px;
        margin-left: 165px;
    }
    
    a{
        text-decoration: none;
        padding: 10px;
        font-size: 2.5vw;
        font-weight: bold;
        font-family: 'Press Start 2p';
    
        color: #EBE7D0;
        background-color: #32CD30;
        border: 5px solid #32CD30;
        border-radius: 70px;
    
    }
    a:active {
        background: #EBE7D0;
        color: #32CD30;
    }
    
    .link{
        margin-bottom: 75px;
    }

}

